{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
      "plugin:storybook/recommended"
  ],
  "settings": {
    "import/internal-regex": "^@example/"
  },
  "rules": {
    "import/order": ["error", {
      "named": true,
      "newlines-between": "always",
      "distinctGroup": true,
      "warnOnUnassignedImports": true,
      "groups": [
        "builtin",
        "external",
        "internal",
        "parent",
        "sibling",
        "type"
      ],
      "pathGroups": [
        {
          "pattern": "@example/**",
          "group": "internal",
          "position": "before"
        }
      ],
      "alphabetize": {
        "order": "asc",
        "orderImportKind": "asc"
      }
    }]
  }
}
