pnpm-lock.yaml

node_modules

**/.vscode/*
.DS_Store
/.cache
/build
/public/build

.env
.cert

coverage

.yalc
yalc.lock

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

storybook-static
